<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ListaVIP</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1>Contratos</h1>
	
		<hr/>

		<div id="listaDeContratos">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Inicio de Vigência</th>
						<th>Fim de Vigência</th>
						<th>Produto</th>
						<th>Segurado</th>
						<th>CPF Segurado</th>
						<th>Valor</th>
						<th>Forma de Pagamento</th>
						<th>Status</th>
					</tr>
				</thead>
				<tr th:each="contrato : ${contratos}">
					<td><span th:text="${contrato.numero}"></span></td>
					<td><span th:text="${contrato.inicioVigencia}"></span></td>
					<td><span th:text="${contrato.fimVigencia}"></span></td>
					<td><span th:text="${contrato.produto.nome}"></span></td>
					<td><span th:text="${contrato.segurado.nome}"></span></td>
					<td><span th:text="${contrato.segurado.cpf}"></span></td>
					<td><span th:text="${contrato.produto.valor}"></span></td>
					<td><span th:text="${contrato.formaPagamento}"></span></td>
					<td><span th:text="${contrato.status}"></span></td>
				</tr>
			</table>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>